<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ site.url }}/css/main.css">
  <link rel="stylesheet" href="{{ site.url }}/css/circle.css">

  <meta name="viewport" content="width=device-width">
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  
  <meta name="description" content="The Best UK {% layout.layout %} Guide: Easy to Use, Built for Parents. Clearly presented information on all UK nurserys.">
  <meta name="keywords" content="nursery, review, nursery, independent nursery, nursery search, search nurserys, choose nursery, local nursery, nursery review, nursery reviews">
</head>
