<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body>
    {% include nav.html %}
    <div class="jumbotron" style="background: linear-gradient(rgba(34, 37, 40, 0.55), rgba(34, 37, 40, 0.55)),  url(/nursery/images/art-supplies-brushes-rulers-scissors-159644.jpeg) no-repeat center center">
      <div class="container text-center">
        <h1>{{ page.title }}</h1>
        <p class="lead">{{ page.sub-title }}</p>
        
        <form action="/nursery/search" method="GET"> 
          <div class="form-inline justify-content-center">
            <input  class="form-control" type="text" name="query" placeholder="Name or URN" id="query" value="">
            <button class="btn btn-primary" type="submit">Go!</button>              
          </div>  
        </form>       
      </div>
    </div>
    
    <div class="container my-5">
      {{ content }}
    </div>

  {% include footer.html %}
  {% include scripts.html %}
  
  </body>
</html>
