<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body>
    {% include nav.html %}
    
      <div class="container my-5">
        <div class="row">
          <div class="col-xs-12 col-sm-8">
            <h1>{{ page.title }}</h1>
            <h2>URN: {{ page.urn }}</h2>
            
            <p class="lead">{{ page.date }}</p>            
            <p class="lead">{{ page.address }}</p>
          </div>
          <div class="col-xs-12 col-sm-4 text-center">
            <p>The overall quality and standards of the early years provision</p>
            {% case page.overall %}
              {% when 4 %}
                <div class="c100 p25 red big center">
                  <span>4</span>
                  <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                  </div>
                </div>
              {% when 3 %}
                <div class="c100 p50 orange big center">
                  <span>3</span>
                  <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                  </div>
                </div>
              {% when 2 %}
                <div class="c100 p75 green big center">
                  <span>2</span>
                  <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                  </div>
                </div>
              {% when 1 %}
                <div class="c100 p100 green big center">
                  <span>1</span>
                  <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                  </div>
                </div>
            {% endcase %}
          </div>
        </div>
    
    <div class="row text-center">
      <div class="col-md-4 justify-content-center">
        <p>How well the early years provision meets the needs of the range of children who attend 
          <a href="#" data-toggle="tooltip" title="" data-html="true" data-original-title="1 = Outstanding<br />2 = Good<br />3 = Requires Improvement<br />4 = Inadequate">?</a>
        </p>
        {% case page.needs %}
          {% when 4 %}
            <div class="c100 p25 red center">
              <span>4</span>
              <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
              </div>
            </div>
          {% when 3 %}
            <div class="c100 p50 orange center">
              <span>3</span>
              <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
              </div>
            </div>
          {% when 2 %}
            <div class="c100 p75 green center">
              <span>2</span>
              <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
              </div>
            </div>
          {% when 1 %}
            <div class="c100 p100 green center">
              <span>1</span>
              <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
              </div>
            </div>
        {% endcase %}
      </div>
      
      
      <div class="col-md-4 justify-content-center">
        <p>The contribution of the early years provision to the well-being of children</p>
        {% case page.contribution %}
          {% when 4 %}
            <div class="c100 p25 red center">
              <span>4</span>
              <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
              </div>
            </div>
          {% when 3 %}
            <div class="c100 p50 orange center">
              <span>3</span>
              <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
              </div>
            </div>
          {% when 2 %}
            <div class="c100 p75 green center">
              <span>2</span>
              <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
              </div>
            </div>
          {% when 1 %}
            <div class="c100 p100 green center">
              <span>1</span>
              <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
              </div>
            </div>
        {% endcase %}
      </div>
      
      <div class="col-md-4 justify-content-center">
        <p>The effectiveness of the leadership and management of the early years provision</p>
        {% case page.leadership %}
          {% when 4 %}
            <div class="c100 p25 red center">
              <span>4</span>
              <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
              </div>
            </div>
          {% when 3 %}
            <div class="c100 p50 orange center">
              <span>3</span>
              <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
              </div>
            </div>
          {% when 2 %}
            <div class="c100 p75 green center">
              <span>2</span>
              <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
              </div>
            </div>
          {% when 1 %}
            <div class="c100 p100 green center">
              <span>1</span>
              <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
              </div>
            </div>
        {% endcase %}
      </div>
    </div>
  </div>
  
  {% include footer.html %}
  {% include scripts.html %}
  </body>
</html>
