<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body>
    {% include nav.html %}
    
  <div class="container my-5">
    <h1>{{ page.title }}</h1>
    <p class="lead">{{ page.urn }}</p>
    
    <div>
      {% case page.needs %}
        {% when 4 %}
          <div class="c100 p25 red big">
            <span>inadequate</span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
        {% when 3 %}
          <div class="c100 p50 orange big">
            <span>requires improvement</span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
        {% when 2 %}
          <div class="c100 p75 green big">
            <span>good</span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
        {% when 1 %}
          <div class="c100 p100 green big">
            <span>outstanding</span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
      {% endcase %}

      {% case page.contribution %}
        {% when 4 %}
          <div class="c100 p25 red big">
            <span>inadequate</span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
        {% when 3 %}
          <div class="c100 p50 orange big">
            <span>requires improvement</span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
        {% when 2 %}
          <div class="c100 p75 green big">
            <span>good</span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
        {% when 1 %}
          <div class="c100 p100 green big">
            <span>outstanding</span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
      {% endcase %}

      {% case page.leadership %}
        {% when 4 %}
          <div class="c100 p25 red big">
            <span>inadequate</span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
        {% when 3 %}
          <div class="c100 p50 orange big">
            <span>requires improvement</span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
        {% when 2 %}
          <div class="c100 p75 green big">
            <span>good</span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
        {% when 1 %}
          <div class="c100 p100 green big">
            <span>outstanding</span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
      {% endcase %}
    </div>
    <div class="row">
      <div class="column">
        {% case page.overall %}
          {% when 4 %}
            <div class="c100 p25 red big">
              <span>inadequate</span>
              <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
              </div>
            </div>
          {% when 3 %}
            <div class="c100 p50 orange big">
              <span>requires improvement</span>
              <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
              </div>
            </div>
          {% when 2 %}
            <div class="c100 p75 green big">
              <span>good</span>
              <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
              </div>
            </div>
          {% when 1 %}
            <div class="c100 p100 green big">
              <span>outstanding</span>
              <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
              </div>
            </div>
        {% endcase %}
      </div>
    </div>
    
    <p class="lead">{{ page.date }}</p>
  </div>
  
  {% include footer.html %}
  {% include scripts.html %}
  </body>
</html>
