<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body>
    {% include nav.html %}
    
    <div class="container my-5">
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <h1>{{ page.title }}</h1>
          <h2>URN: {{ page.urn }}</h2>

          <p class="lead">{{ page.date | date_to_long_string }}</p>            
          <p class="lead">{{ page.address }}</p>
        </div>
        <div class="col-xs-12 col-sm-4 text-center">
          <p>The overall quality and standards of the early years provision <a href="#" class="tip" data-toggle="tooltip" title="" data-html="true" data-original-title="1 = Outstanding<br />2 = Good<br />3 = Requires Improvement<br />4 = Inadequate">?</a></p>
          {% if page.overall == 0 %}
            {% include nursery-messaging.html %}
          {% else %}
            {% include rating.html rating=page.overall size="big" %}
          {% endif %}
        </div>
      </div>

      {% if page.overall > 0 %}
        <div class="row text-center  mt-5">
          <div class="col-md-4 justify-content-center">
            <p>How well the early years provision meets the needs of the range of children who attend 
              <a href="#" class="tip" data-toggle="tooltip" title="" data-html="true" data-original-title="1 = Outstanding<br />2 = Good<br />3 = Requires Improvement<br />4 = Inadequate">?</a>
            </p>
            {% include rating.html rating=page.needs size="" %}

          </div>


          <div class="col-md-4 justify-content-center">
            <p>The contribution of the early years provision to the well-being of children <a href="#" class="tip" data-toggle="tooltip" title="" data-html="true" data-original-title="1 = Outstanding<br />2 = Good<br />3 = Requires Improvement<br />4 = Inadequate">?</a></p>

            {% include rating.html rating=page.contribution size="" %}
          </div>

          <div class="col-md-4 justify-content-center">
            <p>The effectiveness of the leadership and management of the early years provision <a href="#" class="tip" data-toggle="tooltip" title="" data-html="true" data-original-title="1 = Outstanding<br />2 = Good<br />3 = Requires Improvement<br />4 = Inadequate">?</a></p>

            {% include rating.html rating=page.leadership size="" %}
          </div>
        </div>
      </div>
    {% endif %}


    <div class="container my-5">
      <form action="/search" method="GET"> 
          <div class="form-inline justify-content-center">
            <label for="query">Search Again</label>
            <input  class="form-control" type="text" name="query" placeholder="Name or URN" id="query" value="">
            <button class="btn btn-primary" type="submit">Go!</button>              
          </div>  
        </form> 
    </div>

    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
