<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body>
    {% include nav.html %}
    
  <div class="container my-5">
    <h1>Search Resultsaaaaaaaaaaaaaaaaa</h1>
    <ul id="search-results" class="list"></ul>
  </div>
  
  {% include footer.html %}
  {% include scripts.html %}
    
    <script>
      window.title = [{% for n in site.nursery %}{"title": "{{ n.title | xml_escape }}","urn": "","url": "{{ n.url | xml_escape }}"}{% endfor %}];
    </script>

    <script src="https://unpkg.com/lunr/lunr.js"></script>
    <script src="{{ site.url }}/assets/js/core.js"></script>
  </body>
</html>
